* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

div.ellipse-1 {
  width: 310px;
  height: 310px;
  background: #E5E7F0;
  border-radius: 50%;
  position: absolute;
  right: 287px;
  transform: translateY(-50%);
  z-index: -1;
}

div.ellipse-2 {
  width: 433px;
  height: 433px;
  background: #E5E7F0;
  border-radius: 50%;
  position: absolute;
  left: 239px;
  transform: translateY(50%);
  z-index: -1;
}

div.body {
  background: #EFF0F1;
  margin: 216px 18px;
  padding: 62px;
  border-radius: 26px;
  font-family: "Poppins", sans-serif;
  color: #d0d0e8;
}

div.list-content {
  display: flex;
  gap: 64px;

}

.title h2 {
  font-family: "Merriweather", serif;
  font-size: 32px;
  margin-bottom: 24px;
  color: #0E0E38;
}

.select button {
  margin-right: 8px;
  background: #ffff;
  height: 44px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 56px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #0E0E38;
  text-align: center;
}

div.content {
  background: #ffff;
  padding: 24px;
  border-radius: 32px;
  width: calc((100% - 128px)/3);
}

.content .img {
  margin-bottom: 24px;
}

.content .img>img {
  width: 100%;
}

.content .img .list-image {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.content .img .list-image img {
  flex: 1;
}

.content .info {
  display: flex;
  justify-content: space-between;
}

.content .info span {
  font-size: 24px;
  font-weight: 500;
  color: #0E0E38;
}

.content .info i {
  display: flex;
  gap: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #0E0E38;
}

.content .img .list-image img {
  width: calc((100% - 32px)/3);
}