* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

header,
section,
footer {
  padding: 0px 100px;
}