section.testimonials {
  margin: 105px 0px;
  font-family: Inter;
}

section.testimonials div.Real-Stories {
  padding: 0px 100px;
}

section.testimonials div.Real-Stories h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
  color: #18191F;
}

section.testimonials div.Real-Stories>img {
  width: 10%;
}

section.testimonials div.Real-Stories>span {
  font-size: 18px;
  line-height: 32px;
  color: #18191F;
  margin-right: 30px;
}

section.testimonials div.Real-Stories p {
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 24px;
}

section.testimonials div.Real-Stories span.name {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #18191F;
}

section.testimonials div.Real-Stories span.address {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #969BAB;
}

section.testimonials div.Real-Stories div.content {
  display: flex;
  gap: 16px;
}

section.testimonials div.Real-Stories div.content img {
  height: 14px;
}

section.testimonials div.Real-Stories div.list-content {
  display: flex;
  gap: 30px;
  align-items: center;
}

section.testimonials div.Real-Stories div.Crypto {
  box-shadow: 0px 0px 8px 5px #29292A12;
  padding: 7px 32px 96px 32px;
  margin-top: 24px;
  width: 350px;
  border-radius: 8px;
  margin-left: 100px;
}

section.testimonials div.Real-Stories div.list-content div.right {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section.testimonials div.Real-Stories div.Jerry {
  padding: 39px 32px 14px 32px;
  width: 445px;
  box-shadow: 0px 0px 8px 5px #29292A12;
}

section.testimonials div.Real-Stories div.Jerry div.content {
  margin-top: 15px;
}


section.testimonials div.Real-Stories div.LeeveOn {
  padding: 41px 32px 32px 32px;
  width: 350px;
  box-shadow: 0px 0px 8px 5px #29292A12;
}

section.testimonials div.web {
  display: flex;
  margin-top: 84px;
  gap: 260px;
}

section.testimonials div.web div.text {
  font-family: Inter;
  color: #18191F;
}

section.testimonials div.web div.text h2 {
  font-size: 48px;
  font-weight: 800;
  line-height: 64px;
}

section.testimonials div.web div.text p {
  font-size: 18px;
  line-height: 32px;
}

section.testimonials div.web div.list-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

section.testimonials div.web div.list-logo img {
  width: 20%;
}