body {
  font-family: sans-serif;
  background-color: #23272F;
  color: white;
}

a {
  color: #149ECA;
  text-decoration: none;
}

div {
  width: 900px auto;
  height: 180px auto;
  border-radius: 10px;
  border: 2px solid #fbfbfb;
  background: #23272F;
  padding: 10px;
  margin: 20px;
}

.Year {
  opacity: 0.5;
}
