* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1D1D24;
}

header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  gap: 34px;
  list-style-type: none;
}

header nav ul li button {
  padding: 12px 27px;
  border-radius: 6px;
  border: 1px solid #1D1D2480;
}

section.hero {
  background: #F8F9FC;
  height: 700px;
}

section.hero img.avatar {
  width: 400px;
  height: 400px;
  margin: 150px 1089px 150px 413px;
  left: 413.61px;
  border-radius: 50%;
  background-color: #e50000;
  border: 10px solid #ffff;
}

div.info {
  margin: -415px 0px 466px 847px;
}

div.info span {
  font-family: Poppins;
  color: #1F1F25;
}

h1.title span.color {
  color: #F9004D;
}

div.info h1.title,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #1F1F25;
}

h2.list {
  margin-top: 120px;
  text-align: center;
  color: #1D1D24;
}

section.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.card {
  text-align: center;
}

div.card span.category {
  color: #1D1D24;
}

div.card h3.name {
  color: #1D1D24;
}

div.card img {
  width: 540.89px;
  height: 360.31px;
  border-radius: 10px;
  margin-bottom: 26px;
  margin-top: 60px;
}

section.portfolio div.card {
  font-family: "Montserrat", sans-serif;
}

footer {
  font-family: Poppins;
  color: #C6C9D8;
  background: #1D1D24;
  height: 85px;
  text-align: center;
  padding-top: 31px;
  margin-top: 151px;
}