* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px;
}

img {
  width: 150px;
}

table {
  width: 100%;
  text-align: justify;
  border-collapse: collapse;
}

tr.title {
  background-color: #415466;
  color: #ffffff;
  height: 50px;
}



table.menu tr.background-color {
  background-color: #F2F2F2;
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

td button.change-color {
  background-color: #2CA2B6;
}

th.list {
  width: 40px;
}

i.icon {
  color: white;
  background: #37B99B;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
}

i.trash {
  color: white;
  background: #D83347;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
}

i.move {
  color: white;
  background: #6D757D;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 32px;
  text-align: center;
}

th.list {
  padding-left: 8.4px;
}

td.number {
  padding-left: 8.4px;
}

td.content p {
  margin-bottom: 8px;
}

td.time p {
  font-size: 16px;
  color: #415466;
  margin-bottom: 8px;
}

td.time p i.fa-user {
  margin-right: 5px;
}

td.time p i.fa-clock {
  margin-right: 3px;
}


td input {
  width: 65px;
  padding: 6.8px 8.6px 6.8px 8.8px;
  border: 1px solid #DEE2E6;
}