* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 150px;
}

table {
  width: 100%;
  text-align: justify;
  border-collapse: collapse;
}

table.menu tr.title {
  background-color: #415466;
  color: #ffffff;

}



table.menu tr.background-color {
  background-color: #F2F2F2;
}

button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;
}

td button.change-color {
  background-color: #2CA2B6;
}

th.list {
  width: 40px;
}